<%- include('partials/header') %>

    <div class="container mt-5">
        <h1>Login form</h1>

        <div class="row" id="register">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">

                        <!-- Makes POST request to /login route -->
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" placeholder="Enter your name" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" placeholder="Enter your password" class="form-control" name="password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-dark">Login</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <%- include('partials/footer') %>